<template >
  <div class="hero-container">
    <div class="bg-img" :class="computedClass">
      <div class="text-container" :class="[ (windowWidth> 768 && contentAlign !== 'center') ? 'align-left' : 'align-center']">
        <h1>Hero Title</h1>
        <p>
          In lorem leo, sodales et ullamcorper tempor, facilisis id nibh.
          Maecenas nibh risus, rutrum nec tellus sed, pharetra gravida nulla.
          Proin imperdiet
        </p>
        <button>read more</button>
      </div>
    </div>
  </div>
</template>

<script>
// import throttle from 'lodash.throttle';

export default {
  name: "Hero",
  data(){
  return{
    windowWidth:0,
  }
  },
  props:{
    contentAlign:{
      type: String,
      default: 'center'
    }
  },
  mounted(){
    window.addEventListener('resize', this.setWindowSizes);
    this.setWindowSizes();
  },
  computed:{
    computedClass(){
      const {contentAlign, windowWidth} = this;
      if(windowWidth< 768) return 'content-center'
      if(contentAlign==='center') return 'content-center'
      if(contentAlign==='left') return 'content-left'
      if(contentAlign==='right') return 'content-right'
     }
  },
  methods:{
    setWindowSizes() {
      this.windowWidth = document.documentElement.clientWidth;
    },
    throttle(func, delay){
      let flag = true;
      return function(){
       if(flag){
         flag = false;
         setTimeout(()=>{
         func();
         flag= true;
         }, delay)
       }
      }
    }
  }
};
</script>

<style lang="scss">
.hero-container {
  font-family: 'Roboto';
}

.content-center {
  justify-content: center;
}

.content-right {
  justify-content: flex-end;
}

.content-left {
  justify-content: flex-start;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.hero-container {
  max-width: 1440px;
  width: 100vw;
  margin: 0px auto;
}

.bg-img {
  display: flex;
  align-items: center;
  width: 100%;
  height: 650px;
  background: url('https://cdn.shopify.com/s/files/1/0544/0792/1853/t/2/assets/hero_img.png?v=15830155175289503920') no-repeat center;
  background-size: cover;
  padding: 0px 10px;
}

.text-container h1 {
  font-size: 36px;
  line-height: 43px;
  color: #fff;
  font-weight: normal;
  margin-bottom: -10px;
}

.text-container p {
  font-size: 18px;
  line-height: 30px;
  color: #fff;
  font-weight: 300;
  max-width: 250px;
  margin-bottom: 40px;
}

.text-container button {
  font-weight: 300;
  width: 213px;
  height: 57px;
  border: 0;
  outline: none;
  background: #57ad68;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 100px;
  cursor: pointer;
}

.text-container button:hover {
  background: #ffffff;
  color: #57AD68;
}

@media (min-width: 768px) {
  .bg-img {
    height: 500px;
    padding: 0px 50px;
  }

  .text-container h1 {
    font-size: 46px;
    line-height: 51px;
  }

  .text-container p {
    font-size: 24px;
    line-height: 29px;
    max-width: 600px;
  }
}
</style>
